# StackAPI

#### Import the necessary libraries here:

In [4]:
import pandas as pd

In [1]:
# import the necessary libraries here
from stackapi import StackAPI

In [2]:
# run the code below
SITE = StackAPI('stackoverflow')
comments = SITE.fetch('comments')

Before you start with the lab, please be aware that all the relevant information regarding the StackAPI can be found here: https://stackapi.readthedocs.io/en/latest/user/advanced.html#calling-fetch-with-various-api-parameters

#### Question 1: Find the questions and answers of last month.

*hint*: use the fromdate and todate arguments.

In [5]:
#inspection of the data
df_comments = pd.DataFrame(comments)
df_comments.head()

,backoff,has_more,page,quota_max,quota_remaining,total,items
0,0,True,5,300,296,0,"{'owner': {'reputation': 17428, 'user_id': 159..."
1,0,True,5,300,296,0,"{'owner': {'reputation': 4396, 'user_id': 5452..."
2,0,True,5,300,296,0,"{'owner': {'reputation': 13, 'user_id': 681571..."
3,0,True,5,300,296,0,"{'owner': {'reputation': 12803, 'user_id': 237..."
4,0,True,5,300,296,0,"{'owner': {'reputation': 923, 'user_id': 54211..."

In [6]:
#inspection of the nested cell
df_comments['items'][5]

{'owner': {'reputation': 980,
  'user_id': 1469926,
  'user_type': 'registered',
  'profile_image': 'https://www.gravatar.com/avatar/aae4ad8a91377313698a253833398e83?s=128&d=identicon&r=PG',
  'display_name': 'aUXcoder',
  'link': 'https://stackoverflow.com/users/1469926/auxcoder'},
 'edited': False,
 'score': 0,
 'creation_date': 1618944235,
 'post_id': 67184346,
 'comment_id': 118754773,
 'content_license': 'CC BY-SA 4.0'}

In [7]:
#option 1: use the datetime stamp
from datetime import datetime

In [8]:
mar=datetime(2021, 3, 17)
stamp_mar = datetime.timestamp(mar)
print(stamp_mar)
apr=datetime(2021,4,17)
stamp_apr = datetime.timestamp(apr)
print(stamp_apr)
# datetime(year, month, day[, hour[, minute[, second[, microsecond[,tzinfo]]]]

1615935600.0
1618610400.0

In [9]:
comments_month = SITE.fetch('comments', fromdate=int(stamp_mar), todate=int(stamp_apr))
comments_month = pd.DataFrame(comments_month)
comments_month.head()

,backoff,has_more,page,quota_max,quota_remaining,total,items
0,0,True,5,300,290,0,"{'owner': {'reputation': 119, 'user_id': 15577..."
1,0,True,5,300,290,0,"{'owner': {'reputation': 2537, 'user_id': 1258..."
2,0,True,5,300,290,0,"{'owner': {'reputation': 923, 'user_id': 21843..."
3,0,True,5,300,290,0,"{'owner': {'reputation': 126, 'user_id': 15118..."
4,0,True,5,300,290,0,"{'owner': {'reputation': 318573, 'user_id': 14..."

In [181]:
#OPTION2: use "commonly" formatted datetime
comments_month2 = SITE.fetch('comments', fromdate=(2021,3,17), todate=(2021,4,17))
comments_month2 = pd.DataFrame(comments_month)
comments_month2.head()

,backoff,has_more,page,quota_max,quota_remaining,total,items
0,0,True,5,300,214,0,"{'owner': {'reputation': 119, 'user_id': 15577..."
1,0,True,5,300,214,0,"{'owner': {'reputation': 2535, 'user_id': 1258..."
2,0,True,5,300,214,0,"{'owner': {'reputation': 923, 'user_id': 21843..."
3,0,True,5,300,214,0,"{'owner': {'reputation': 126, 'user_id': 15118..."
4,0,True,5,300,214,0,"{'owner': {'reputation': 318085, 'user_id': 14..."

#### Question 2: Find the most voted question today with at least a score of 5 and tagged with 'python'.

In [10]:
# your code here
comments_score = SITE.fetch('comments', fromdate=(2021,3,17), todate=(2021,4,17))
comments_score = pd.DataFrame(comments_score)
comments_score.head()

Empty DataFrame
Columns: [backoff, has_more, page, quota_max, quota_remaining, total, items]
Index: []

#### Question 3: Find the answers with id 6784 and 6473.

In [11]:
# your code here

#this finds the comment id's 6784 and 6473. not de user of post ids with these numbers
comments_id = SITE.fetch('comments', ids =[6784, 6473])
comments_id = pd.DataFrame(comments_id)
comments_id

,backoff,has_more,page,quota_max,quota_remaining,total,items
0,0,False,1,300,288,0,"{'owner': {'reputation': 22481, 'user_id': 770..."
1,0,False,1,300,288,0,"{'owner': {'reputation': 6053, 'user_id': 3499..."

In [12]:
comments_id['items'][0]

{'owner': {'reputation': 22481,
  'user_id': 7705,
  'user_type': 'registered',
  'accept_rate': 62,
  'profile_image': 'https://www.gravatar.com/avatar/9475e7d0a30de531c27abcc24cd833c4?s=128&d=identicon&r=PG',
  'display_name': 'Charles Graham',
  'link': 'https://stackoverflow.com/users/7705/charles-graham'},
 'edited': False,
 'score': 0,
 'creation_date': 1221542647,
 'post_id': 60126,
 'comment_id': 6784,
 'content_license': 'CC BY-SA 2.5'}

In [16]:
#how to fetch the user_id. Something with /comments/user/{ids} Does not seem to work for me. 
#This does, but then I have a truly different column. I'm not getting the data of the above, filtered on this user ID
comments_id = SITE.fetch('users', ids =[7705, 6473])
comments_id = pd.DataFrame(comments_id)
comments_id['items'][0]

{'badge_counts': {'bronze': 56, 'silver': 41, 'gold': 13},
 'account_id': 4953,
 'is_employee': False,
 'last_modified_date': 1617819000,
 'last_access_date': 1618602736,
 'reputation_change_year': 270,
 'reputation_change_quarter': 30,
 'reputation_change_month': 30,
 'reputation_change_week': 0,
 'reputation_change_day': 0,
 'reputation': 22481,
 'creation_date': 1221488191,
 'user_type': 'registered',
 'user_id': 7705,
 'accept_rate': 62,
 'location': 'Philadelphia, PA',
 'website_url': 'http://madetowait.blogspot.com',
 'link': 'https://stackoverflow.com/users/7705/charles-graham',
 'profile_image': 'https://www.gravatar.com/avatar/9475e7d0a30de531c27abcc24cd833c4?s=128&d=identicon&r=PG',
 'display_name': 'Charles Graham'}

Not part of the assignment, but just to practice a little: flatten some columns and append them to the dataframe.

In [17]:
#For my own sake, lets try to flatten the nested column 'items'.

items_dict = dict(df_comments['items']) #make a dict out of the nested column
items_flat = pd.DataFrame(items_dict).transpose() #put the dict in a dataframe
columns = [str(i) for i in items_flat.columns] #make strings of the column names
items_flat.columns= ['items' + '_' + i for i in columns] #change the column names (add prefix)
items_flat.columns #inspect the new column names

Index(['items_owner', 'items_reply_to_user', 'items_edited', 'items_score',
       'items_creation_date', 'items_post_id', 'items_comment_id',
       'items_content_license'],
      dtype='object')

In [18]:
items_flat.head() #inspect the dataframe with the added unnested columns

,items_owner,items_reply_to_user,items_edited,items_score,items_creation_date,items_post_id,items_comment_id,items_content_license
0,"{'reputation': 17428, 'user_id': 159072, 'user...","{'reputation': 11783, 'user_id': 6045800, 'use...",False,0,1618944243,67184393,118754778,CC BY-SA 4.0
1,"{'reputation': 4396, 'user_id': 5452008, 'user...",NaN,False,0,1618944243,67183575,118754777,CC BY-SA 4.0
2,"{'reputation': 13, 'user_id': 6815717, 'user_t...",NaN,False,0,1618944241,67182076,118754776,CC BY-SA 4.0
3,"{'reputation': 12803, 'user_id': 2373249, 'use...",NaN,False,0,1618944239,67184538,118754775,CC BY-SA 4.0
4,"{'reputation': 923, 'user_id': 542116, 'user_t...",NaN,False,0,1618944237,61398318,118754774,CC BY-SA 4.0

In [20]:
#further unnesting of 'items_owner'- column and appending it to the items_flat.
items_owner_dict = dict(items_flat['items_owner']) #making a dict out of the column
items_owner_flat = pd.DataFrame(items_owner_dict).transpose() #put the dict into a dataframe
columns = [str(i) for i in items_owner_flat.columns] #make a string out of the table headers
items_owner_flat.columns= ['items_owner' + '_' + i for i in columns] #add prefix to the name
items_owner_flat.columns #check the col names

Index(['items_owner_reputation', 'items_owner_user_id',
       'items_owner_user_type', 'items_owner_accept_rate',
       'items_owner_profile_image', 'items_owner_display_name',
       'items_owner_link'],
      dtype='object')

In [21]:
items_owner_flat.head()

,items_owner_reputation,items_owner_user_id,items_owner_user_type,items_owner_accept_rate,items_owner_profile_image,items_owner_display_name,items_owner_link
0,17428,159072,registered,80,https://www.gravatar.com/avatar/217605bccd9551...,user366312,https://stackoverflow.com/users/159072/user366312
1,4396,5452008,registered,0,https://lh3.googleusercontent.com/-305SHYPJuxE...,S&#246;ren,https://stackoverflow.com/users/5452008/s%c3%b...
2,13,6815717,registered,NaN,https://graph.facebook.com/849900058478088/pic...,Pedro Henrique Gomes,https://stackoverflow.com/users/6815717/pedro-...
3,12803,2373249,registered,25,https://i.stack.imgur.com/byIOk.jpg?s=128&g=1,hardkoded,https://stackoverflow.com/users/2373249/hardkoded
4,923,542116,registered,100,https://www.gravatar.com/avatar/f60723b1830e95...,MTAdmin,https://stackoverflow.com/users/542116/mtadmin

In [26]:
items_flat = pd.concat([items_flat, items_owner_flat], axis = 1) #add this unpacked items_owner to items_flat
items_flat.head()

,items_owner,items_reply_to_user,items_edited,items_score,items_creation_date,items_post_id,items_comment_id,items_content_license,items_owner_reputation,items_owner_user_id,...,reply_items_display_name,reply_items_link,reply_items_accept_rate,items_owner_reputation,items_owner_user_id,items_owner_user_type,items_owner_accept_rate,items_owner_profile_image,items_owner_display_name,items_owner_link
0,"{'reputation': 17428, 'user_id': 159072, 'user...","{'reputation': 11783, 'user_id': 6045800, 'use...",False,0,1618944243,67184393,118754778,CC BY-SA 4.0,17428,159072,...,Tomerikoo,https://stackoverflow.com/users/6045800/tomerikoo,NaN,17428,159072,registered,80,https://www.gravatar.com/avatar/217605bccd9551...,user366312,https://stackoverflow.com/users/159072/user366312
1,"{'reputation': 4396, 'user_id': 5452008, 'user...",NaN,False,0,1618944243,67183575,118754777,CC BY-SA 4.0,4396,5452008,...,NaN,NaN,NaN,4396,5452008,registered,0,https://lh3.googleusercontent.com/-305SHYPJuxE...,S&#246;ren,https://stackoverflow.com/users/5452008/s%c3%b...
2,"{'reputation': 13, 'user_id': 6815717, 'user_t...",NaN,False,0,1618944241,67182076,118754776,CC BY-SA 4.0,13,6815717,...,NaN,NaN,NaN,13,6815717,registered,NaN,https://graph.facebook.com/849900058478088/pic...,Pedro Henrique Gomes,https://stackoverflow.com/users/6815717/pedro-...
3,"{'reputation': 12803, 'user_id': 2373249, 'use...",NaN,False,0,1618944239,67184538,118754775,CC BY-SA 4.0,12803,2373249,...,NaN,NaN,NaN,12803,2373249,registered,25,https://i.stack.imgur.com/byIOk.jpg?s=128&g=1,hardkoded,https://stackoverflow.com/users/2373249/hardkoded
4,"{'reputation': 923, 'user_id': 542116, 'user_t...",NaN,False,0,1618944237,61398318,118754774,CC BY-SA 4.0,923,542116,...,NaN,NaN,NaN,923,542116,registered,100,https://www.gravatar.com/avatar/f60723b1830e95...,MTAdmin,https://stackoverflow.com/users/542116/mtadmin

In [193]:
items_flat = items_flat.drop('items_owner', axis = 1) #drop the items_owner column as you've unpacked this already

In [27]:
# There is more unnesting to be done in items_reply_to_user, let's just do it.

reply = dict(items_flat["items_reply_to_user"]) #take the nested column and turn in into a dict:
reply_flat = pd.DataFrame(reply).transpose() #put the dict in a dataframe
reply_flat.head()
columns= [str(i) for i in reply_flat.columns] #make string out of column-names
reply_flat.columns= ['reply_items' + '_' + i for i in columns] #add where you got it from, in this case: reply_items_[name]
reply_flat.head()

,reply_items_reputation,reply_items_user_id,reply_items_user_type,reply_items_profile_image,reply_items_display_name,reply_items_link,reply_items_accept_rate
0,11783,6045800,registered,https://graph.facebook.com/10153412706975770/p...,Tomerikoo,https://stackoverflow.com/users/6045800/tomerikoo,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
items_flat = pd.concat([items_flat, reply_flat], axis = 1) #append this to items_flat.
items_flat.head()

,items_owner,items_reply_to_user,items_edited,items_score,items_creation_date,items_post_id,items_comment_id,items_content_license,items_owner_reputation,items_owner_user_id,...,items_owner_profile_image,items_owner_display_name,items_owner_link,reply_items_reputation,reply_items_user_id,reply_items_user_type,reply_items_profile_image,reply_items_display_name,reply_items_link,reply_items_accept_rate
0,"{'reputation': 17428, 'user_id': 159072, 'user...","{'reputation': 11783, 'user_id': 6045800, 'use...",False,0,1618944243,67184393,118754778,CC BY-SA 4.0,17428,159072,...,https://www.gravatar.com/avatar/217605bccd9551...,user366312,https://stackoverflow.com/users/159072/user366312,11783,6045800,registered,https://graph.facebook.com/10153412706975770/p...,Tomerikoo,https://stackoverflow.com/users/6045800/tomerikoo,NaN
1,"{'reputation': 4396, 'user_id': 5452008, 'user...",NaN,False,0,1618944243,67183575,118754777,CC BY-SA 4.0,4396,5452008,...,https://lh3.googleusercontent.com/-305SHYPJuxE...,S&#246;ren,https://stackoverflow.com/users/5452008/s%c3%b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"{'reputation': 13, 'user_id': 6815717, 'user_t...",NaN,False,0,1618944241,67182076,118754776,CC BY-SA 4.0,13,6815717,...,https://graph.facebook.com/849900058478088/pic...,Pedro Henrique Gomes,https://stackoverflow.com/users/6815717/pedro-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"{'reputation': 12803, 'user_id': 2373249, 'use...",NaN,False,0,1618944239,67184538,118754775,CC BY-SA 4.0,12803,2373249,...,https://i.stack.imgur.com/byIOk.jpg?s=128&g=1,hardkoded,https://stackoverflow.com/users/2373249/hardkoded,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"{'reputation': 923, 'user_id': 542116, 'user_t...",NaN,False,0,1618944237,61398318,118754774,CC BY-SA 4.0,923,542116,...,https://www.gravatar.com/avatar/f60723b1830e95...,MTAdmin,https://stackoverflow.com/users/542116/mtadmin,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
#now concat to df_comments, lets name is df_comments2

df_comments2 = pd.concat([df_comments, items_flat], axis=1)
df_comments2.head()

,backoff,has_more,page,quota_max,quota_remaining,total,items,items_owner,items_reply_to_user,items_edited,...,reply_items_display_name,reply_items_link,reply_items_accept_rate,items_owner_reputation,items_owner_user_id,items_owner_user_type,items_owner_accept_rate,items_owner_profile_image,items_owner_display_name,items_owner_link
0,0,True,5,300,296,0,"{'owner': {'reputation': 17428, 'user_id': 159...","{'reputation': 17428, 'user_id': 159072, 'user...","{'reputation': 11783, 'user_id': 6045800, 'use...",False,...,Tomerikoo,https://stackoverflow.com/users/6045800/tomerikoo,NaN,17428,159072,registered,80,https://www.gravatar.com/avatar/217605bccd9551...,user366312,https://stackoverflow.com/users/159072/user366312
1,0,True,5,300,296,0,"{'owner': {'reputation': 4396, 'user_id': 5452...","{'reputation': 4396, 'user_id': 5452008, 'user...",NaN,False,...,NaN,NaN,NaN,4396,5452008,registered,0,https://lh3.googleusercontent.com/-305SHYPJuxE...,S&#246;ren,https://stackoverflow.com/users/5452008/s%c3%b...
2,0,True,5,300,296,0,"{'owner': {'reputation': 13, 'user_id': 681571...","{'reputation': 13, 'user_id': 6815717, 'user_t...",NaN,False,...,NaN,NaN,NaN,13,6815717,registered,NaN,https://graph.facebook.com/849900058478088/pic...,Pedro Henrique Gomes,https://stackoverflow.com/users/6815717/pedro-...
3,0,True,5,300,296,0,"{'owner': {'reputation': 12803, 'user_id': 237...","{'reputation': 12803, 'user_id': 2373249, 'use...",NaN,False,...,NaN,NaN,NaN,12803,2373249,registered,25,https://i.stack.imgur.com/byIOk.jpg?s=128&g=1,hardkoded,https://stackoverflow.com/users/2373249/hardkoded
4,0,True,5,300,296,0,"{'owner': {'reputation': 923, 'user_id': 54211...","{'reputation': 923, 'user_id': 542116, 'user_t...",NaN,False,...,NaN,NaN,NaN,923,542116,registered,100,https://www.gravatar.com/avatar/f60723b1830e95...,MTAdmin,https://stackoverflow.com/users/542116/mtadmin

In [38]:
#drop the items en items_owner columns
df_comments2 = df_comments2.drop(['items', 'items_owner'], axis = 1)

In [36]:
df_comments2.columns

Index(['backoff', 'has_more', 'page', 'quota_max', 'quota_remaining', 'total',
       'items', 'items_owner', 'items_reply_to_user', 'items_edited',
       'items_score', 'items_creation_date', 'items_post_id',
       'items_comment_id', 'items_content_license', 'items_owner_reputation',
       'items_owner_user_id', 'items_owner_user_type',
       'items_owner_accept_rate', 'items_owner_profile_image',
       'items_owner_display_name', 'items_owner_link',
       'items_owner_reputation', 'items_owner_user_id',
       'items_owner_user_type', 'items_owner_accept_rate',
       'items_owner_profile_image', 'items_owner_display_name',
       'items_owner_link', 'reply_items_reputation', 'reply_items_user_id',
       'reply_items_user_type', 'reply_items_profile_image',
       'reply_items_display_name', 'reply_items_link',
       'reply_items_accept_rate', 'items_owner_reputation',
       'items_owner_user_id', 'items_owner_user_type',
       'items_owner_accept_rate', 'items_owner_profile_image',
       'items_owner_display_name', 'items_owner_link'],
      dtype='object')

In [39]:
df_comments2.head(2)

,backoff,has_more,page,quota_max,quota_remaining,total,items_reply_to_user,items_edited,items_score,items_creation_date,...,reply_items_display_name,reply_items_link,reply_items_accept_rate,items_owner_reputation,items_owner_user_id,items_owner_user_type,items_owner_accept_rate,items_owner_profile_image,items_owner_display_name,items_owner_link
0,0,True,5,300,296,0,"{'reputation': 11783, 'user_id': 6045800, 'use...",False,0,1618944243,...,Tomerikoo,https://stackoverflow.com/users/6045800/tomerikoo,NaN,17428,159072,registered,80,https://www.gravatar.com/avatar/217605bccd9551...,user366312,https://stackoverflow.com/users/159072/user366312
1,0,True,5,300,296,0,NaN,False,0,1618944243,...,NaN,NaN,NaN,4396,5452008,registered,0,https://lh3.googleusercontent.com/-305SHYPJuxE...,S&#246;ren,https://stackoverflow.com/users/5452008/s%c3%b...