## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [114]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [130]:
# Your code here
sample_list_1= random.sample(range(100), k=80)

#check if the elements (values) are indeed unique 
#--> turn it into a set asthis will delete duplicates and check out the length of the set.

set1=set(sample_list_1)
print(len(set1))

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [131]:
# Your code here
set1=set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [132]:
# Your code here

"""
This doesnt work als random.sample returns a list, so you get a list-of-list situation. [[1],[4],[5],[45]...etc]
sample_list_2a = []
for i in range(80):
    x = random.sample(range(100),1)
    sample_list_2.append(x)
print(sample_list_2)
"""

sample_list_2 = []
for i in range(80):
    x = random.randint(0,100)
    sample_list_2.append(x)
print(sample_list_2)

[84, 98, 19, 87, 87, 97, 25, 98, 21, 18, 91, 83, 50, 61, 23, 10, 55, 20, 26, 89, 25, 0, 20, 67, 82, 51, 4, 85, 98, 92, 41, 93, 2, 32, 78, 88, 3, 40, 95, 41, 30, 78, 71, 94, 98, 59, 15, 54, 25, 63, 23, 36, 43, 88, 93, 96, 89, 3, 53, 52, 11, 90, 81, 82, 34, 35, 33, 80, 23, 55, 36, 14, 97, 66, 22, 64, 45, 35, 72, 26]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [133]:
# Your code here
set2=set(sample_list_2)
print(len(set2))

59

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [134]:
# Your code here
set3=set1-set2
print(set3)

{1, 6, 7, 8, 12, 13, 16, 17, 24, 27, 28, 29, 31, 37, 38, 39, 44, 46, 47, 48, 49, 56, 58, 62, 65, 68, 69, 70, 73, 74, 75, 76, 77, 79, 86, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [135]:
# Your code here
set4=set2-set1
print(set4)

{0, 33, 64, 66, 67, 71, 41, 11, 14, 81, 18, 19, 50, 89, 92}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [136]:
# Your code here
set5=set1.intersection(set2)
print(set5)

{2, 3, 4, 10, 15, 20, 21, 22, 23, 25, 26, 30, 32, 34, 35, 36, 40, 43, 45, 51, 52, 53, 54, 55, 59, 61, 63, 72, 78, 80, 82, 83, 84, 85, 87, 88, 90, 91, 93, 94, 95, 96, 97, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [137]:
# Your code here
#print('set 1 is 80 uniques. The length is:', len(set1))
#print('set 2 is the uniques of 80 randoms. The length is:', len(set2))
#print('set 3 is set1 minus set2. The length is:', len(set3))
#print('set 4 is set2 minus set1. The length is:', len(set4))
#print('set 5 is the overlap between set1 and set2. the length is:', len(set5))

a = len(set3)+len(set5) == len(set1)
b = len(set4)+len(set5) == len(set2)
print(a,b)

True True

#### Create an empty set called `set6`.

In [138]:
# Your code here
set6=set()
print(set6)
type(set6)

set()

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [139]:
# Your code here
set6.update(set5)
#print(set6)
set6.update(set3)
#print(set6)

#### Check if `set1` and `set6` are equal.

In [140]:
# Your code here
set6 == set1

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [141]:
# Your code here
x = set2.issubset(set1)
print(x)
y= set3.issubset(set1)
print(y)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [142]:
# Your code here
d = set3.union(set4, set5)
e = set1.union(set2)
print(d)
print(e)

{0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
{0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [143]:
# Your code here
print(set1)
set1.pop()
print(set1)

{1, 2, 3, 4, 6, 7, 8, 10, 12, 13, 15, 16, 17, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 35, 36, 37, 38, 39, 40, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 58, 59, 61, 62, 63, 65, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 90, 91, 93, 94, 95, 96, 97, 98, 99}
{2, 3, 4, 6, 7, 8, 10, 12, 13, 15, 16, 17, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 35, 36, 37, 38, 39, 40, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 58, 59, 61, 62, 63, 65, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 90, 91, 93, 94, 95, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [145]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set1_new=set1-set(list_to_remove)
print(set1_new)

{2, 3, 4, 6, 7, 8, 10, 12, 13, 15, 16, 17, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 34, 35, 36, 37, 38, 40, 43, 44, 45, 46, 47, 48, 52, 53, 54, 55, 56, 58, 62, 63, 65, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 93, 94, 95, 96, 97, 98}