# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge 1 - Create a function

Given a dictionary name-phone number and a country code create a function that adds the country code to the number. <br>
For example if <code>phone_numbers</code> is given  by <br>
<code>phone_numbers = {'Tom': '0313911913', 'John' : '0313911913', 'Annie': '0313911913', 'Judy':'3818891310'}</code>
the output of the function should be 
<code>phone_numbers_countrycode = {'Tom': '+0310313911913', 'John' :'+0310313911913', 'Annie': '+0310313911913', 'Judy':'+0313818891310'}</code>. In this example the country code is +031.<br>
The function should accept two arguments, a dictionary name-phonenumber and a countrycode.
Once you have defined the function run it on <br> <code> {'Anna': '0313911913', 'Erica' : '0313911913', 'Alberto': '0313911913', 'Judy':'3818891310'}</code>, use country code +039 and check that it works correctly.

In [2]:
phone_numbers = {'Anna': '0313911913', 'Erica' : '0313911913', 'Alberto': '0313911913', 'Judy':'3818891310'}
code = '+039'

def country_code (number, code = 'test'):
    '''
    Inputs: a dict (number) and string (code)
    Outputs: a dict (new_number) with changed values
    '''
    new_dict = {}
    for k,v in number.items():
        new_dict[k] = code + v
    return new_dict

a = country_code(phone_numbers, code)
print(a)

#note to self: this is how luke does it; only works as he uses the same name for input (numbers) and return (numbers). 
#this means he already kinda created a dict, as the input was a dict. 
#In my version (above) you'll have to create an empty dict within the function.

def country_code_2 (numbers, code = 'test'):
    '''
    Inputs: a dict (numbers) and string (code)
    Outputs: a dict (new_dict) with changed values
    '''
    for k,v in numbers.items():
        numbers[k] = code + v
    return numbers

b = country_code_2(phone_numbers, code)
print(b)

{'Anna': '+0390313911913', 'Erica': '+0390313911913', 'Alberto': '+0390313911913', 'Judy': '+0393818891310'}
{'Anna': '+0390313911913', 'Erica': '+0390313911913', 'Alberto': '+0390313911913', 'Judy': '+0393818891310'}

# Challenge 2 - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

First, let's load a dataset. We will download the famous Iris classification dataset in the cell below.

In [3]:
columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width','iris_type']
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", names=columns)

Let's look at the dataset using the `head` function.

In [4]:
# Your code here
iris.head()

   sepal_length  sepal_width  petal_length  petal_width    iris_type
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Let's start off by using built-in functions. Try to apply the numpy mean function and describe what happens in the comments of the code.

In [5]:
# Your code here:

print(np.mean(iris))

#you take the whole database (iris), and calculate the average for every numerical column. 
#You can calculate the value for 1 column by adding it's name after the database name like this:

print(np.mean(iris.sepal_length))

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64
5.843333333333335

Next, we'll apply the standard deviation function in numpy (`np.std`). Describe what happened in the comments.

In [6]:
# Your code here:
print(np.std(iris))
#it calculates the standard deviation for every numerical column in the database iris. 
#You can calculate the value for 1 column by adding it's name after the database name like this:

print(np.std(iris.sepal_length))

sepal_length    0.825301
sepal_width     0.432147
petal_length    1.758529
petal_width     0.760613
dtype: float64
0.8253012917851409

The measurements are in centimeters. Let's convert them all to inches. First, we will create a dataframe that contains only the numeric columns. Assign this new dataframe to `iris_numeric`.

In [7]:
# Your code here:
iris_numeric = iris._get_numeric_data()

print(iris_numeric.head())

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

Next, we will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [8]:
# This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    # Your code here:

def cm_to_in(x):
    "input: numeric value"
    "output: numeric value (float) converted to inches"
    x = x * 0.39370
    #print(type(x))
    return x

#test if it works:
print(cm_to_in(6))

#test if it works2:
x=1
print(cm_to_in(x))

2.3622
0.3937

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [9]:
# Your code here:
iris_inch = cm_to_in(iris_numeric)
print(iris_inch.head())

#check if it worked in 2 steps: does is look right
iris_inch.head()

#step 2: do we get the constant if you devide the two datasets 
np.mean(iris_inch)/np.mean(iris_numeric)

   sepal_length  sepal_width  petal_length  petal_width
0       2.00787      1.37795       0.55118      0.07874
1       1.92913      1.18110       0.55118      0.07874
2       1.85039      1.25984       0.51181      0.07874
3       1.81102      1.22047       0.59055      0.07874
4       1.96850      1.41732       0.55118      0.07874

sepal_length    0.3937
sepal_width     0.3937
petal_length    0.3937
petal_width     0.3937
dtype: float64

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [10]:
# Define constant below:
error = 2

def add_constant(x):
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    
    # Your code here:
    x = x + error
    return x

iris_constant = add_constant(iris_numeric)
iris_constant.head()

   sepal_length  sepal_width  petal_length  petal_width
0           7.1          5.5           3.4          2.2
1           6.9          5.0           3.4          2.2
2           6.7          5.2           3.3          2.2
3           6.6          5.1           3.5          2.2
4           7.0          5.6           3.4          2.2

# Bonus Challenge - Applying Functions to Columns

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [11]:
# Your code here:
#max of columns
print('the max per column is:\n', iris_numeric.apply(np.max))

#max of rows
iris_rowmax = iris_numeric.max(axis=1)
print('\n the max per row is: \n',iris_rowmax.head())

the max per column is:
 sepal_length    7.9
sepal_width     4.4
petal_length    6.9
petal_width     2.5
dtype: float64

 the max per row is:
 0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
dtype: float64

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [12]:
# Your code here:
#woopsie, thought the question was about the size of the dataframe

def size(x):
    """
    input: a dataframe 
    output: two integers - the width and length of the dataframe
    """
    #total_width = x.apply(len(x), x=1)
    #total_width = iris_numeric.apply(len(x), axis=0)
    total_length = len(x)
    total_width = len(x.columns)
    return total_length, total_width

print('using a function, returns:', size(iris_numeric))


#check if the length is correct (count should be the same):
print('using a build in function df.describe(), returns \n', iris_numeric.describe(), '\n')

#check is the length and width are correct

print('using a build in function df.shape(), returns:', iris_numeric.shape, '\n')



def size2(y):
    """
    input: a dataframe 
    output: two integers - the length and width of the dataframe
    """
    total_length = len(y)
    total_width = len(y.columns)
    return total_length, total_width

print('using function2, returns:', size2(iris_numeric))
print('\n')

using a function, returns: (150, 4)
using a build in function df.describe(), returns
        sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

using a build in function df.shape(), returns: (150, 4)

using function2, returns: (150, 4)

In [13]:
#this was what it was really about
total_length = iris_numeric[['sepal_length','petal_length']].apply(sum, axis=1);
print(total_length.head(), '\n')


total_width = iris_numeric[['sepal_width','petal_width']].apply(sum, axis = 1)
print(total_width.head(), '\n')


#try if you can also apply this to some of the other panda-thingies 
iris_rowmax = iris_numeric[['petal_length','petal_width']].max(axis=1)
print('the max per row of not all columns but only petal_length and petal_width is: \n',iris_rowmax.head(), '\n')

a = iris_numeric[['petal_length','petal_width']].head()
print ('this are the first few rows of only some columns \n', a)

0    6.5
1    6.3
2    6.0
3    6.1
4    6.4
dtype: float64

0    3.7
1    3.2
2    3.4
3    3.3
4    3.8
dtype: float64

the max per row of not all columns but only petal_length and petal_width is:
 0    1.4
1    1.4
2    1.3
3    1.5
4    1.4
dtype: float64

this are the first few rows of only some columns
    petal_length  petal_width
0           1.4          0.2
1           1.4          0.2
2           1.3          0.2
3           1.5          0.2
4           1.4          0.2